.Featuredcontainer{
    border: 1px solid rgb(247, 243, 243);
    padding: 20px 40px 30px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgba(128, 128, 128, 0.143);
    box-sizing: border-box;
}
.Featuredtitle{
    font-size: 16px;
    color: rgba(61, 61, 61, 0.887);
    margin-bottom: 10px;

}
.Growth{
   margin-top: 10px;
   
}
.Featuredicon{
    font-size: 20px;
    color: red;
}
.Featuredsub{
    font-size: smaller;
    font-weight: 400;
    color: rgba(129, 134, 139, 0.87);
}